<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="login">

<div>
	<div class="login_wrapper">
		<section class="login_content">
			<div class="form-inner container">
				<div class="logo text-uppercase">
					<strong class="text-primary">Регистрация успешна</strong>
				</div>
				<p>
					<a href="/login/">Войти в личный кабинет</a>
				</p>
			</div>
		</section>
	</div>
</div>

</body>
</html>