<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="login">
<div>
	<div class="login_wrapper">
		<div class="form">
			<section class="login_content">
				<form th:action="@{/register/}" th:object="${user}" method="post">
					<h1>Регистрация</h1>
					<div>
						<input type="email" th:field="*{email}" placeholder="Email" required="required" class="form-control" />
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
					</div>
					<div>
						<button type="submit" class="btn btn-primary submit">Зарегистрироваться</button>
					</div>

					<div class="clearfix"></div>

					<div class="separator">
						<p class="change_link">
							<a href="/cabinet/login/" class="to_register">Войти</a>
						</p>

						<div class="clearfix"></div>
						<br />

						<!--<div>-->
							<!--<h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>-->
							<!--<p>© 2018 All Rights Reserved</p>-->
						<!--</div>-->
					</div>
				</form>
			</section>
		</div>
	</div>
</div>
</body>
</html>