<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Группа услуг</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h4>Услуга</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Услуга</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="product, iterator : ${products}">
                                                <th scope="row" th:text="@{${iterator.index} + 1}"></th>
                                                <td>
                                                    <span th:text="*{product.name}">product</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="card">-->
                                <!--<div class="card-header d-flex align-items-center">-->
                                    <!--<h4>Сотрудники</h4>-->
                                <!--</div>-->
                                <!--<div class="card-body">-->
                                    <!--<div th:each="user : ${users}" style="display: block;">-->
                                        <!-- - <span th:text="@{${user.name} + ' ' + ${user.sirname}}">user</span>-->
                                        <!--<br />-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="cabinet/inc/footer.inc::footer"></footer>
        <!-- /footer content -->
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

</body>
</html>