<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>
<nav class="side-navbar" th:include="cabinet/inc/navbar.inc::navbar"></nav>
<div class="page">
    <!-- navbar-->
    <header class="header" th:include="cabinet/inc/header.inc::header"></header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder" th:include="cabinet/inc/breadcrumb.inc::breadcrumb"></div>

    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Биллинг</h1>
            </header>

            <div class="container">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Баланс</h4>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <a href="/cabinet/billing/pay/" class="btn btn-primary">Пополнить баланс</a>
                            </div>
                            <div class="row">
                                <table style="width:300px">
                                    <tr>
                                        <td><Strong>Баланс</Strong></td>
                                        <td th:text="${balance.balance}"> руб.</td>
                                    </tr>
                                    <tr>
                                        <td><Strong>Оплачено до</Strong></td>
                                        <td th:text="${balance.expDate}"></td>
                                    </tr>
                                </table>
                            </div>
                            <BR/>
                            <div><Strong>История платежей</Strong></div>
                            <BR/>
                            <div class="row">
                                <table style="width:300px">
                                    <thead>
                                        <td><Strong>Дата</Strong></td>
                                        <td><Strong>Сумма</Strong></td>
                                    </thead>
                                    <th:block th:each="payment : ${payments}">
                                        <tr>
                                            <td th:text="${payment.paymentDate}"></td>
                                            <td th:text="${payment.price}"></td>
                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <footer class="main-footer" th:include="cabinet/inc/footer.inc::footer"></footer>
</div>
<div th:include="cabinet/inc/js.inc::js"></div>
</body>
</html>