<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="cabinet/inc/head.inc :: head"></head>
<body>

<h1>Расписание</h1>


<br />
<br />

<br />

<a href="#prev"> << Prev</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#next">Next >> </a>

<table id="scheduleTable" class="display" width="800" cellspacing="0" border="1">

    <tbody>
    <tr>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>Вс</th>
    </tr>

    <tr th:each="scheduleItem : ${scheduleList}">
        <td th:each="schedule : ${scheduleItem}" th:text="${schedule.sdate}">
        </td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        $('td').click( function() {
            $(this).toggleClass("red-cell");
        } );


//        $.get("/ajaxtest.php", {
//                userId: 59,
//                year: 2017,
//                month: 11
//            },
//            onAjaxSuccess
//        );
//
//        function onAjaxSuccess(data) {
//            // Здесь мы получаем данные, отправленные сервером и выводим их на экран.
//            alert(data);
//        }
    } );
</script>


<br />
<br />

<div th:include="cabinet/inc/menu.inc :: menu"></div>


</body>
</html>

