<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="cabinet/inc/head.inc :: head"></head>
<body>

<h1>Расписание</h1>


<br />
<br />

<br />

<a id="aPrev" href="#prev">Prev</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a id="aNext" href="#next">Next</a>

User: <input type="text" id="userInput" value="29" />
<br />
Year: <input type="text" id="yearInput" value="2017" />
<br />
Month: <input type="text" id="monthInput" value="12" />

<br /><br /><br />

<div id="scheduleDiv">
    <table id="scheduleTable" class="display" width="800" cellspacing="0" border="1">

        <tbody>
        <tr>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
        </tr>

        <tr id="trScheduleContainer" th:each="scheduleItem : ${scheduleList}">
            <td th:each="schedule : ${scheduleItem}" th:text="${schedule.sdate}"></td>
        </tr>
        </tbody>
    </table>
</div>

<br />
<hr />
<br />

<table id="divScheduleContainer" style="margin: 10px;" border="1"></table>


<script th:src="@{/js/script.js}"></script>


<br />
<br />

<div th:include="cabinet/inc/menu.inc :: menu"></div>


</body>
</html>

