<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Настройки</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Настройка системы</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <form th:object="${config}" action="/cabinet/config/" method="post">
                                    <input type="hidden" th:field="*{id}" /> <br/>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Использовать расписание</label>
                                        <div class="col-md-2 col-sm-9 col-xs-12">
                                            <select th:field="*{isSetSchedule}" class="form-control">
                                                <!-- if -->
                                                <div th:if="*{isSetSchedule}">
                                                    <option th:value="true" selected="selected">Да</option>
                                                    <option th:value="false">Нет</option>
                                                </div>
                                                <!-- else -->
                                                <div th:unless="*{isSetSchedule}">
                                                    <option th:value="true">Да</option>
                                                    <option th:value="false" selected="selected">Нет</option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input value="Сохранить" class="btn btn-primary" type="submit" />
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="cabinet/inc/footer.inc::footer"></footer>
        <!-- /footer content -->
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

</body>
</html>