<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>
<nav class="side-navbar" th:include="cabinet/inc/navbar.inc::navbar"></nav>
<div class="page">
    <!-- navbar-->
    <header class="header" th:include="cabinet/inc/header.inc::header"></header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder" th:include="cabinet/inc/breadcrumb.inc::breadcrumb"></div>

    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Статистика</h1>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Сотрудники</h4>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 form-control-label">Период</label>
                            <div class="col-sm-8">
                                От
                                <input type="text" name="datefrom" id="datetimepicker1" value="" />
                                до
                                <input type="text" name="dateto" id="datetimepicker2" value="" />
                            </div>
                        </div>


                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Сотрудник</th>
                                        <th>Оказано услуг на сумму</th>
                                        <th>Фиксированная з/п</th>
                                        <th>% за услуги</th>
                                        <!--<th>% за услуги по продуктам</th>-->
                                        <th>З/п итого</th>
                                        <th>Оказанные услуги</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, iterator : ${workerSalaries}">
                                        <th scope="row" th:text="@{${iterator.index} + 1}"></th>
                                        <td>
                                            <span th:text="@{${item.worker.name} + ' ' + ${item.worker.sirname}}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${item.salaryByRenderProducts}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${item.monthSalary}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${item.salaryByPercent}"></span>
                                        </td>
                                        <!--<td>-->
                                            <!--<span th:text="${item.salaryByPercentProducts}"></span>-->
                                        <!--</td>-->
                                        <td>
                                            <strong th:text="@{${item.salaryByRenderProducts} + ${item.monthSalary} + ${item.salaryByPercent}}"></strong>
                                        </td>
                                        <td>
                                            <span>Услуги</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer" th:include="cabinet/inc/footer.inc::footer"></footer>
</div>
<div th:include="cabinet/inc/js.inc::js"></div>
<link rel="stylesheet" type="text/css" href="/static/default/vendor/datetimepicker/jquery.datetimepicker.min.css"/>
<script src='/static/default/vendor/datetimepicker/jquery.datetimepicker.full.js'></script>
<script>
    $('#datetimepicker1').datetimepicker({
        lang: 'ru',
        dayOfWeekStart : 1,
        format: 'd-m-Y',
        timepicker: false
    });
    $('#datetimepicker2').datetimepicker({
        lang: 'ru',
        dayOfWeekStart : 1,
        format: 'd-m-Y',
        timepicker: false
    });
</script>
</body>
</html>