<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<h1>Сотрудники</h1>


<a href="/cabinet/users/add/">=Добавить=</a>
<br />
<br />

<div th:each="user : ${users}" style="display: block;">
    <a th:href="@{'/cabinet/users/edit/' + ${user.id} + '/'}">
        <span th:text="@{${user.name} + ' ' + ${user.sirname}}"></span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{'/cabinet/users/edit/' + ${user.id} + '/'}">[Edit]</a>
    &nbsp;&nbsp;
    <a th:href="@{'/cabinet/users/delete/' + ${user.id} + '/'}">[Delete]</a>
    &nbsp;&nbsp;
    <a th:href="@{'/cabinet/users/' + ${user.id} + '/schedule/'}">== Расписание ==</a>
</div>

<br />
<br />


<div th:include="cabinet/inc/menu.inc::menu"></div>


</body>
</html>

