<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Расписание и запись</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">

                            <div class="x_title">
                                <h2>Запись</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Существующий клиент</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Новый клиент</a>
                                        </li>
                                    </ul>

                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <form action="/cabinet/clients/record/add/exist/" method="post" class="form-horizontal form-label-left">
                                                <input type="hidden" name="clientId" id="clientId" />
                                                <input type="hidden" name="date" th:value="${date}" />

                                                <div class="form-group">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12" for="firstname">Имя</label>
                                                    <div class="col-md-5 col-sm-9 col-xs-12">
                                                        <input type="text" id="client" required="required" class="form-control col-md-7 col-xs-12" />
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12">Услуга</label>
                                                    <div class="col-md-5 col-sm-9 col-xs-12">
                                                        <select name="productId" class="form-control">
                                                            <option th:each="product : ${products}"
                                                                    th:value="${product.id}"
                                                                    th:text="${product.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12">Сотрудник</label>
                                                    <div class="col-md-5 col-sm-9 col-xs-12">
                                                        <select name="workerId" class="form-control">
                                                            <option th:each="worker : ${workers}"
                                                                    th:value="${worker.id}"
                                                                    th:text="@{${worker.name} + ' ' + ${worker.sirname}}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12" for="time1">Время</label>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <input name="time" type="text" id="time1" data-inputmask="'mask': '99:99'" required="required" class="form-control col-md-7 col-xs-12" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-1">
                                                        <input value="Записать" class="btn btn-primary" type="submit" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                            <form th:object="${client}" th:action="@{'/cabinet/clients/record/add/new/'}" method="post" class="form-horizontal form-label-left">
                                                <input type="hidden" th:field="*{id}" />
                                                <input type="hidden" name="date" th:value="${date}" />

                                                <div class="form-group">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12" for="firstname">Имя</label>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <input th:field="*{name}" type="text" id="firstname" required="required" class="form-control col-md-7 col-xs-12" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12" for="sirname">Фамилия</label>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <input th:field="*{sirname}" type="text" id="sirname" required="required" class="form-control col-md-7 col-xs-12" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12" for="phone">Телефон</label>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <input th:field="*{phone}" type="text" id="phone" data-inputmask="'mask': '+9-(999)-999-99-99'" required="required" class="form-control col-md-7 col-xs-12" />
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12">Услуга</label>
                                                    <div class="col-md-5 col-sm-9 col-xs-12">
                                                        <select name="productId" class="form-control">
                                                            <option th:each="product : ${products}"
                                                                    th:value="${product.id}"
                                                                    th:text="${product.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12">Сотрудник</label>
                                                    <div class="col-md-5 col-sm-9 col-xs-12">
                                                        <select name="workerId" class="form-control">
                                                            <option th:each="worker : ${workers}"
                                                                    th:value="${worker.id}"
                                                                    th:text="@{${worker.name} + ' ' + ${worker.sirname}}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-1 col-sm-3 col-xs-12" for="time2">Время</label>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <input name="time" type="text" id="time2" data-inputmask="'mask': '99:99'" required="required" class="form-control col-md-7 col-xs-12" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-1">
                                                        <input value="Записать" class="btn btn-primary" type="submit" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Каледарь работы сотрудников</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="hidden" id="dayInput" name="day" th:value="${day}" />
                                        <input type="hidden" id="monthInput" name="month" th:value="${month}" />
                                        <input type="hidden" id="yearInput" name="year" th:value="${year}" />

                                        <div id='calendar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="cabinet/inc/footer.inc::footer"></footer>
        <!-- /footer content -->
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

<!-- calendar -->
<link href='/static/gentelella/vendors/fullcalendar-3.9.0/fullcalendar.min.css' rel='stylesheet' />
<link href='/static/gentelella/vendors/fullcalendar-3.9.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href='/static/gentelella/vendors/fullcalendar-scheduler-1.9.4/scheduler.min.css' rel='stylesheet' />

<script src='/static/gentelella/vendors/fullcalendar-3.9.0/lib/moment.min.js'></script>
<script src='/static/gentelella/vendors/fullcalendar-3.9.0/fullcalendar.min.js'></script>
<script src='/static/gentelella/vendors/fullcalendar-3.9.0/locale-all.js'></script>
<script src='/static/gentelella/vendors/fullcalendar-scheduler-1.9.4/scheduler.min.js'></script>
<!-- end calendar -->

<script th:src="@{/static/includes/js/record-day-calendar.js}"></script>

<script src="/static/gentelella/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

<!--Select client-->
<script src="/static/gentelella/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<script src='/static/includes/js/get-clients.js'></script>
<!--End Select client-->

</body>
</html>