<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Сотрудники</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">

                            <div class="x_title">
                                <h2>Установка дополнительной оплаты за услуги</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="form-group">
                                    <label class="col-sm-2 form-control-label">Сотрудник</label>
                                    <div class="col-sm-4">
                                        <span th:text="@{${worker.name} + ' ' + ${worker.sirname}}"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 form-control-label">Услуга</label>
                                    <div class="col-sm-4">
                                        <span th:text="${product.name}"></span>
                                    </div>
                                </div>

                                <form th:object="${userProductSalary}" th:action="@{'/cabinet/users/products/salary/'}" method="post">
                                    <input type="hidden" th:name="productId" th:value="${productId}" />
                                    <input type="hidden" th:name="userId" th:value="${worker.id}" />
                                    <input type="hidden" th:field="*{worker}" />
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Оклад</label>
                                        <div class="col-sm-4">
                                            <input type="text" th:field="*{salary}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Процент прибыли за оказанные услуги</label>
                                        <div class="col-sm-4">
                                            <input type="text" th:field="*{salaryPercent}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input value="Update" class="btn btn-primary" type="submit" />
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer th:include="cabinet/inc/footer.inc::footer"></footer>
            <!-- /footer content -->
        </div>
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

</body>