<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Главная страница</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Инструкция</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <p>Для начала работы:</p>
                                <ol>
                                    <li>Запомните пароль, который вы получили при регистрации или <a href="/cabinet/config/user/">смените его в настройках</a></li>
                                    <li><a href="/cabinet/users/">Добавьте сотрудников</a></li>
                                    <li><a href="/cabinet/rooms/">Добавьте помещения</a> (помещения объединяют в себе несколько услуг схожей тематики)</li>
                                    <li><a href="/cabinet/products/">Добавьте услуги</a> (каждая услуга привязывается к помещению)</li>
                                    <li><a href="/cabinet/products/">Укажите сотрудников, кто оказывает эти услуги</a> (нажмите на название услуги и отметьте сотрудников)</li>
                                    <li><a href="/cabinet/users/">Установите расписание сотрудников</a> (оно будет учитываться только в том случае если в <a href="/config/">настройках</a> установлен этот параметр)</li>
                                </ol>

                                <br />

                                <p>Работа с клиентами:</p>
                                <ol>
                                    <li><a href="/cabinet/clients/record/">Откройте страницу записи клиентов</a> (если у вас учитывается расписание сотрудников, то вы можете выбирать и видеть кто в какие дни работает)</li>
                                    <li>Запишите клиента, указав его данные и выбрав услугу и сотрудника, кто оказывает эту услугу</li>
                                    <li><a href="/cabinet/clients/payment/">Откройте страницу оплаты услуг</a> и нажмите на кнопку "Оплатить". Укажите на открывшейся странице оказанные услуги клиенту, стоимость и сотрудника, оказавшего услугу</li>
                                    <li><a href="/cabinet/clients/payment/">Откройте страницу оплаты услуг</a> и нажмите на кнопку оказанные услуги. Вы увидите статистику по посещению клинета и сумму за все оказанные услуги</li>
                                </ol>

                                <br />

                                <p>Работа с сотрудниками:</p>
                                <ol>
                                    <li><a href="/cabinet/statistics/workers/">Откройте страницу статистики</a>, выберите диапазон для построения отчета. Таким образом вы видете оказанные услуги и доход сотрудников.</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="cabinet/inc/footer.inc::footer"></footer>
        <!-- /footer content -->
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

</body>
</html>
