<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>

<div class="login-page">
	<div class="container">
		<div class="form-outer text-center d-flex align-items-center">
			<div class="form-inner container">
				<div class="logo text-uppercase">
					<strong class="text-primary">Личный кабинет</strong>
				</div>
				<form th:action="@{/login/}" id="login-form" method="post">
					<div class="form-group-material">
						<input id="login-username" type="text" name="email" required="required" class="input-material" />
						<label for="login-username" class="label-material">Email</label>
					</div>
					<div class="form-group-material">
						<input id="login-password" type="password" name="password" required="required" class="input-material" />
						<label for="login-password" class="label-material">Password</label>
					</div>
					<button id="login" type="submit" class="btn btn-primary">Login</button>
					<!-- This should be submit button but I replaced it with <a> for demo purposes-->
				</form>
				<a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small>
				<a href="/register/" class="signup">Signup</a>
			</div>
			<div class="copyrights text-center">
				<p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
				<!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
			</div>
		</div>
	</div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>
</body>
</html>