<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>

<div class="page login-page">
	<div class="container">
		<div class="form-outer text-center d-flex align-items-center">
			<div class="form-inner container">
				<div class="logo text-uppercase">
					<strong class="text-primary">Регистрация пользователя</strong>
				</div>
				<form id="login-form" method="post" th:action="@{/register/}" th:object="${user}"
					  autocomplete="off" class="form-horizontal" role="form">
					<div class="form-group-material">
						<input type="text" th:field="*{email}" placeholder="Email"
							   required="required" class="form-control" />
						<label
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="validation-message"></label>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Register User</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>
</body>
</html>