<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" th:href="@{/css/autocomplete.css}"></link>
        <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
        <!--<script src="https://code.jquery.com/ui/1.12.4/jquery-ui.js"></script>-->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/jquery.autocomplete.js}"></script>
    </head>
    <body>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(
                function() {

                let users = /*[[${users}]]*/;

                var usersArray = $.map(users, function (user) { return { value: user.name + ' ' + user.sirname, data: user.id }; });
                $('#input-user-selection').autocomplete({
                    lookup: usersArray,
                    onSelect: function(selectedUser) {
                        $('#addingUserId').val(selectedUser.data);
                    },
//                    onInvalidateSelection: function() {
//                        $('#selection-dynamic').html('You selected: none');
//                    }
                });

                // $('#button').click(function() {
                //     alert('value = ' +  $("#selection-dynamic").html()); // get the id from the hidden input
                // });

            });
            /*]]>*/
        </script>


        <h1>Добавление пользователя в помещение</h1>

        <div th:each="user : ${users}" th:text="${user.name}" style="display: block;"></div>

        <form th:action="@{'/cabinet/rooms/users/add/'}" method="post">
            <input type="text" name="user" id="input-user-selection" style="width: 100%; border-width: 5px;"/>
            <input type="hidden" name="addingUserId" id="addingUserId" />
            <input type="hidden" name="roomId" id="roomId" th:value="${roomId}" />

            <div th:each="service : ${services}" style="display: block;">
                <input type="checkbox" th:name="services[]" th:value="${service.id}" th:text="${service.name}" />
            </div>


            <input id="button" type="submit" text="Add user" />
        </form>

        <br />
        <br />
        <div th:include="cabinet/inc/menu.inc::menu"></div>

    </body>
</html>

