<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" th:href="@{/css/autocomplete.css}"></link>
        <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
        <!--<script src="https://code.jquery.com/ui/1.12.4/jquery-ui.js"></script>-->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/jquery.autocomplete.js}"></script>
    </head>
    <body>
        <script th:inline="javascript">
            $(document).ready(
                function() {

                let users = [[${users}]];

                var usersArray = $.map(users, function (user) { return { value: user.name + ' ' + user.sirname, data: user.id }; });
                $('#input-user-selection').autocomplete({
                    lookup: usersArray,
                    onSelect: function(selectedUser) {
                        $('#userId').val(selectedUser.data);

                    },
//                    onInvalidateSelection: function() {
//                        $('#selection-dynamic').html('You selected: none');
//                    }
                });

                $('#button').click(function() {
                    alert('value = ' +  $("#selection-dynamic").html()); // get the id from the hidden input
                });

            });
        </script>


        <h1>Добавление пользователя в помещение</h1>

        <form th:action="@{'/cabinet/rooms/users/'}" method="post">
            <input type="text" name="user" id="input-user-selection" style="width: 100%; border-width: 5px;"/>
            <input type="hidden" name="userId" id="userId" />

            <span th:each="service : ${services}" style="display: block;">
                <input type="checkbox" th:value="@{${service.id}}" th:text="@{${service.name}}" />
            </span>


            <input id="button" type="submit" >Add user</input>
        </form>

        <div id="selection-dynamic"></div>

        <br />
        <br />
        <div th:include="cabinet/inc/menu.inc::menu"></div>

    </body>
</html>

