<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<h1>Помещения - add/edit</h1>

<form th:object="${room}" th:action="@{'/cabinet/rooms/' + ${action} + '/'}" method="post">
    <input type="hidden" th:field="*{id}" /> <br/>
    <input type="text" th:field="*{name}" class="form-control" /> <br/>
    <input type="submit" />
</form>

</body>
</html>

