<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<h1>Помещения - add/edit</h1>

<form th:object="${room}" th:action="@{/cabinet/rooms/add/}" method="post">
    <input type="text" th:field="*{roomName}" class="form-control" /> <br/>
    <input type="submit" />
</form>

<br />
<br />
<br />

<a href="/cabinet/rooms/">Помещения</a>
<br />
<a href="/cabinet/services/">Услуги</a>
<br />
<a href="/cabinet/users/">Сотрудники</a>
<br />
<a href="/cabinet/record/">Запись</a>
<br />


</body>
</html>

