<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<h1>Помещения</h1>



<a href="/cabinet/rooms/add/">=Добавить=</a>
<br />
<br />

<div th:each="room : ${rooms}" style="display: block;">
    <a th:href="@{'/cabinet/rooms/' + ${room.id} + '/'}">
        <span th:text="${room.name}"></span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{'/cabinet/rooms/edit/' + ${room.id} + '/'}">[Edit]</a>
    &nbsp;&nbsp;
    <a th:href="@{'/cabinet/rooms/delete/' + ${room.id} + '/'}">[Delete]</a>
    &nbsp;&nbsp;
    <a th:href="@{'/cabinet/services/add/' + ${room.id} + '/'}">=[Add Service]=</a>
    &nbsp;&nbsp;
    <a th:href="@{'/cabinet/rooms/' + ${room.id} + '/addusers/'}">=[Add User]=</a>
</div>

<br />
<br />


<div th:include="cabinet/inc/menu.inc::menu"></div>


</body>
</html>

