<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Услуги</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">

                            <div class="x_title">
                                <h2>Добавление/редактирование Услуги</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <form th:object="${product}" th:action="@{'/cabinet/products/' + ${action} + '/'}" method="post" class="form-horizontal">
                                    <input type="hidden" th:field="*{id}" />

                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Название</label>
                                        <div class="col-sm-4">
                                            <input type="text" th:field="*{name}" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Группа услуг</label>
                                        <div class="col-sm-4 mb-3">
                                            <select th:field="*{room}" class="form-control">
                                                <option th:each="r : ${rooms}"
                                                        th:value="${r.id}"
                                                        th:text="${r.name}">room</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Длительность оказания услуги (часов)</label>
                                        <div class="col-sm-4">
                                            <input type="text" th:field="*{duration}" data-inputmask="'mask': '9.9'" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Напоминание о повторном визите (дней)</label>
                                        <div class="col-sm-4">
                                            <input type="text" th:field="*{remindPeriod}" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Себестоимость услуги</label>
                                        <div class="col-sm-4">
                                            <input type="text" th:field="*{primeCostSum}" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="x_panel">

                            <div class="x_title">
                                <h2>Сотрудники</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div th:each="user : ${users}" style="display: block;">
                                    - <span th:text="@{${user.name} + ' ' + ${user.sirname}}">user</span>
                                    <br />
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="cabinet/inc/footer.inc::footer"></footer>
        <!-- /footer content -->
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

<script src="/static/gentelella/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

</body>
</html>