<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<style>
    #monthCalendarContainerTable td {
        background: white;
        cursor: pointer;
        padding: 2px;
        width: 120px;
        height: 40px;
    }
    #monthCalendarContainerTable td.workday-cell {
        background: #71dd8a; /* Or some other color */
    }
    #monthCalendarContainerTable td.vacationday-cell {
        background: #efa2a9; /* Or some other color */
    }
</style>
<body>
<nav class="side-navbar" th:include="cabinet/inc/navbar.inc::navbar"></nav>
<div class="page">
    <!-- navbar-->
    <header class="header" th:include="cabinet/inc/header.inc::header"></header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder" th:include="cabinet/inc/breadcrumb.inc::breadcrumb"></div>

    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Клиенты</h1>
            </header>

            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Запись клиентов</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <strong>Filter:</strong>
                    <br />

                    Услуга:
                    <select name="productId" id="productId">
                        <option value="">-- Все услуги --</option>
                        <option th:each="product: ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                    </select>

                    Мастер:
                    <select name="userId" id="userId">
                        <option value="">-- Все мастера --</option>
                        <option th:each="user: ${users}" th:value="${user.id}" th:text="@{${user.name} + ' ' + ${user.sirname}}"></option>
                    </select>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <a href="/cabinet/clients/record/add/" class="btn btn-primary">Новая запись</a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <a id="aPrev" href="#prev">Prev</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a id="aNext" href="#next">Next</a>
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="yearInput" name="year" th:value="${year}" />
                                <input type="hidden" id="monthInput" name="month" th:value="${month}" />

                                <!-- calendar -->
                                <table id="monthCalendarContainerTable" style="margin: 10px;" border="1"></table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="main-footer" th:include="cabinet/inc/footer.inc::footer"></footer>
</div>
<div th:include="cabinet/inc/js.inc::js"></div>
<script th:src="@{/static/default/js/clientrecord.js}"></script>
</body>
</html>