<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Услуги</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">

                            <div class="x_title">
                                <h2>Сотрудники</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div>
                                    <strong>Услуга:</strong><span th:text="${product.name}"></span>
                                    <br />
                                    <strong>Помещение:</strong><span th:text="${room.name}"></span>
                                </div>

                                <form th:action="@{'/cabinet/products/addusers/'}" method="post" class="form-horizontal">
                                    <input type="hidden" th:name="productId" th:value="${product.id}" />

                                    <div>
                                        <strong>Услуга оказывается сотрудниками:</strong>
                                    </div>

                                    <div th:each="user : ${involveUsers}" class="col-sm-10">
                                        <input name="involveUsers[]" th:value="${user.id}" type="checkbox" checked="checked" />
                                        <label th:text="${user.name}"></label>
                                    </div>

                                    <div th:each="user : ${freeUsers}" class="col-sm-10">
                                        <input name="freeUsers[]" th:value="${user.id}" type="checkbox" />
                                        <label th:text="@{${user.name} + ' ' + ${user.sirname}}"></label>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="cabinet/inc/footer.inc::footer"></footer>
        <!-- /footer content -->
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

</body>
</html>