<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>
<nav class="side-navbar" th:include="cabinet/inc/navbar.inc::navbar"></nav>
<div class="page">
    <!-- navbar-->
    <header class="header" th:include="cabinet/inc/header.inc::header"></header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder" th:include="cabinet/inc/breadcrumb.inc::breadcrumb"></div>

    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Рабочая область</h1>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Действия</h4>
                        </div>
                        <div class="card-body">
                            <p>Для начала работы:</p>
                            <ol>
                                <li>Запомните пароль, который вы получили при регистрации или <a href="/cabinet/config/user/">смените его в настройках</a></li>
                                <li><a href="/cabinet/users/">Добавьте сотрудников</a></li>
                                <li><a href="/cabinet/rooms/">Добавьте помещения</a> (помещения объединяют в себе несколько услуг схожей тематики)</li>
                                <li><a href="/cabinet/products/">Добавьте услуги</a> (каждая услуга привязывается к помещению)</li>
                                <li><a href="/cabinet/products/">Укажите сотрудников, кто оказывает эти услуги</a> (нажмите на название услуги и отметьте сотрудников)</li>
                                <li><a href="/cabinet/users/">Установите расписание сотрудников</a> (оно будет учитываться только в том случае если в <a href="/config/">настройках</a> установлен этот параметр)</li>
                            </ol>

                            <br />

                            <p>Работа с клиентами:</p>
                            <ol>
                                <li><a href="/cabinet/clients/record/">Откройте страницу записи клиентов</a> (если у вас учитывается расписание сотрудников, то вы можете выбирать и видеть кто в какие дни работает)</li>
                                <li>Запишите клиента, указав его данные и выбрав услугу и сотрудника, кто оказывает эту услугу</li>
                                <li><a href="/cabinet/clients/payment/">Откройте страницу оплаты услуг</a> и нажмите на кнопку "Оплатить". Укажите на открывшейся странице оказанные услуги клиенту, стоимость и сотрудника, оказавшего услугу</li>
                                <li><a href="/cabinet/clients/payment/">Откройте страницу оплаты услуг</a> и нажмите на кнопку оказанные услуги. Вы увидите статистику по посещению клинета и сумму за все оказанные услуги</li>
                            </ol>

                            <br />

                            <p>Работа с сотрудниками:</p>
                            <ol>
                                <li><a href="/cabinet/statistics/workers/">Откройте страницу статистики</a>, выберите диапазон для построения отчета. Таким образом вы видете оказанные услуги и доход сотрудников.</li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer" th:include="cabinet/inc/footer.inc::footer"></footer>
</div>
<div th:include="cabinet/inc/js.inc::js"></div>
</body>
</html>
