<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:include="cabinet/inc/left_col.inc::left_col"></div>

        <!-- top navigation -->
        <div class="top_nav" th:include="cabinet/inc/top_nav.inc::top_nav"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Сотрудники</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="x_panel">

                            <div class="x_title">
                                <h2>Профиль пользователя</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="form-group">
                                    <a href="/cabinet/users/add/" class="btn btn-primary">Добавить</a>
                                </div>

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Настройки сотрудник</th>
                                        <th>Расписание</th>
                                        <th>Редактировать данные</th>
                                        <th>Удалить</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user, iterator : ${users}">
                                        <th scope="row" th:text="@{${iterator.index} + 1}"></th>
                                        <td>
                                            <a th:href="@{'/cabinet/users/' + ${user.id} + '/salary/'}">
                                                <span th:text="@{${user.name} + ' ' + ${user.sirname}}"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{'/cabinet/users/' + ${user.id} + '/schedule/'}">== Расписание ==</a>
                                        </td>
                                        <td>
                                            <a th:href="@{'/cabinet/users/edit/' + ${user.id} + '/'}">[Edit]</a>
                                        </td>
                                        <td>
                                            <a th:href="@{'/cabinet/users/delete/' + ${user.id} + '/'}">[Delete]</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="cabinet/inc/footer.inc::footer"></footer>
        <!-- /footer content -->
    </div>
</div>

<div th:include="cabinet/inc/js.inc::js"></div>

</body>
</html>