<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>
<nav class="side-navbar" th:include="cabinet/inc/navbar.inc::navbar"></nav>
<div class="page">
    <!-- navbar-->
    <header class="header" th:include="cabinet/inc/header.inc::header"></header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder" th:include="cabinet/inc/breadcrumb.inc::breadcrumb"></div>

    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Оплата услуг</h1>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Записанные клиенты</h4>
                        </div>
                        <div class="card-body">


                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Клиент</th>
                                        <th>Оплата</th>
                                        <th>Оказанные услуги</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="record, iterator : ${records}">
                                        <th scope="row" th:text="@{${iterator.index} + 1}"></th>
                                        <td>
                                            <span th:text="@{${record.user.name} + ' ' + ${record.user.sirname}}"></span>
                                        </td>
                                        <td>
                                            <!-- if -->
                                            <a href="" class="btn btn-primary"
                                               th:href="@{'/cabinet/clients/payment/record/' + ${record.id} + '/pay/'}"
                                               th:if="${(record.clientPayment == null) or (record.clientPayment != null and record.clientPayment.getPaid() == false)}">Оплатить</a>
                                            <!-- else -->
                                            <span
                                               th:if="${record.clientPayment != null and record.clientPayment.getPaid() == true}">Оплачено</span>
                                        </td>
                                        <td>
                                            <a href=""
                                                th:href="@{'/cabinet/clients/payment/' + ${record.clientPayment.id} + '/products/'}"
                                                th:if="${record.clientPayment != null and record.clientPayment.getPaid() == true}">Оказанные услуги</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer" th:include="cabinet/inc/footer.inc::footer"></footer>
</div>
<div th:include="cabinet/inc/js.inc::js"></div>
</body>
</html>