<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>
<nav class="side-navbar" th:include="cabinet/inc/navbar.inc::navbar"></nav>
<div class="page">
    <!-- navbar-->
    <header class="header" th:include="cabinet/inc/header.inc::header"></header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder" th:include="cabinet/inc/breadcrumb.inc::breadcrumb"></div>

    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Оплата услуг</h1>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Записанные клиенты</h4>
                        </div>
                        <div class="card-body">


                            <form th:object="${record}" th:action="@{'/cabinet/clients/payment/pay/'}" method="post">
                                <input type="hidden" th:field="*{id}" />
                                <div class="form-group">
                                    <strong>Клиент</strong>
                                    <span th:text="@{${record.user.name} + ' ' + ${record.user.sirname}}"></span>
                                </div>
                                <div class="form-group">
                                    <strong>Дата</strong>
                                    <span th:text="${record.date}"></span>
                                </div>
                                <div id="payment-products" class="form-group">
                                    <label class="col-sm-2 form-control-label">Услуга</label>
                                    <div class="col-sm-4">
                                        <select name="products[]">
                                            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 form-control-label">Стоимость</label>
                                    <input type="text" name="price[]" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <a id="addProduct" href="#">Добавить услугу</a>
                                </div>
                                <div class="form-group">
                                    <input value="Зачислить оплату" class="btn btn-primary" type="submit" />
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer" th:include="cabinet/inc/footer.inc::footer"></footer>
</div>
<div th:include="cabinet/inc/js.inc::js"></div>
<script src='/static/default/js/mycrm/payment-products.js'></script>
</body>
</html>