<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="cabinet/inc/head.inc::head"></head>
<body>
<nav class="side-navbar" th:include="cabinet/inc/navbar.inc::navbar"></nav>
<div class="page">
    <!-- navbar-->
    <header class="header" th:include="cabinet/inc/header.inc::header"></header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder" th:include="cabinet/inc/breadcrumb.inc::breadcrumb"></div>

    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Услуги</h1>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Список услуг</h4>
                        </div>
                        <div class="card-body">

                            <div th:each="roomProduct : ${roomProducts}" style="display: block;">
                                <div th:each="room : ${roomProduct.room}" style="display: block;">
                                    <a th:href="@{'/cabinet/rooms/' + ${room.id} + '/'}">
                                        <span th:text="${room.name}"></span>
                                    </a>

                                    <br />
                                    <strong>Услуги</strong>
                                    <div th:each="product: ${roomProduct.products}" style="display: block;">
                                        <a th:href="@{'/cabinet/products/' + ${product.id} + '/users/'}">
                                            - <span th:text="${product.name}"></span>
                                        </a>
                                    </div>
                                </div>
                                <hr />
                            </div>

                            <!--<div th:each="product : ${products}" style="display: block;">-->
                                <!--<a th:href="@{'/cabinet/products/edit/' + ${product.id} + '/'}">-->
                                    <!--<span th:text="${product.name}"></span>-->
                                <!--</a>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--<a th:href="@{'/cabinet/products/edit/' + ${product.id} + '/'}">[Edit]</a>-->
                                <!--&nbsp;&nbsp;-->
                                <!--<a th:href="@{'/cabinet/products/delete/' + ${product.id} + '/'}">[Delete]</a>-->
                            <!--</div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer" th:include="cabinet/inc/footer.inc::footer"></footer>
</div>
<div th:include="cabinet/inc/js.inc::js"></div>
</body>
</html>